<div class="container">
<div class="modal-body text-center">
  <i class="fas fa-check-circle text-success modal-icon"></i>
    <p>Your event has been posted successfully.</p>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
</div>
<!--<h1>Code <%= @code %> </h1>
<h1>Code <%= @response_body %> </h1>
<h1>Code <%= @myorgs %> </h1>
<h2>Event: <%= @event_request %> </h2>
