<p>Dear <%= @recipient_email %>,</p>

<p>We invite you to join Us at our upcoming Event - <%= @event.title %></p>


<p>For further information and to view the complete event details, please see the attached PDF.</p>
<p>Please mark your calendar and save the date. We genuinely look forward to having you join us for this exciting occasion.</p>
<p>Best Regards,</p>
<p>Team Syncsparkle.</p>
