<p>Hi <%= @recipient_email %>,</p>

<p>Invitation to Join Us at Our Event - <%= @event.title %></p>


<p>For further information and to view the complete event details, please see the attached PDF.</p>
<p>Please mark your calendar and save the date. We genuinely look forward to having you join us for this exciting occasion.</p>
<p>Yours sincerely,</p>
<p>Team Syncsparkle.</p>
