<div class="footer footer-expand-sm footer-light footer-lewagon bg-transparent fluid text-center pt-5 pb-3 h-100 " >
   <div class="d-flex align-items-end justify-content-center mt-3 mb-3 " style="font-size: 11px; font-weight: lighter; letter-spacing: 1px;">
    <a href="#" style="color: white; "><i class="fab fa-twitter"></i></a>
    <a href="#" style="color: white; margin: 0% 2%; "><i class="fab fa-facebook"></i></a>
    <a href="#" style="color: white;"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="text-light d-flex justify-content-center" style="font-size: 11px; font-weight: lighter; letter-spacing: 2px;">
    <p style="margin-right: 25px;">Copyright © 2024; All rights reserved.</p>
    <p class="">Crafted by the Le Wagon #1456 batchmates.</p>
  </div>
  <div class="d-flex align-items-end justify-content-evenly " style="font-size: 11px; font-weight: lighter; letter-spacing: 1px; padding: 0% 25%;">
    <a href="https://github.com/lae178456" target="_blank" class="text-light"><i class="fab fa-github"></i> Laetitia Steybe</a>
    <a href="https://github.com/ashakiran07" target="_blank" class="text-light"><i class="fab fa-github"></i> Asha Kiran Devkota</a>
    <a href="https://github.com/userJFD" target="_blank" class="text-light"><i class="fab fa-github"></i> Joel Fregno</a>
    <a href="https://github.com/louismn-dev" target="_blank" class="text-light"><i class="fab fa-github"></i> Louis Simon</a>
  </div>
</div>
