<footer class="footer mt-auto py-3 bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <p class="text-light mb-0">© 2024 Syncsparkle. All rights reserved. <a href="#" class="text-light ms-3">Privacy Policy</a> | <a href="#" class="text-light">Terms of Service</a></p>
      </div>
    </div>
  </div>
</footer>
