<!-- slider form old home page with reviews/commented out for later if abel to make it work with java scrip-->
<div id="container" data-controller="slider" class="reviewslider">
  <div id="slider-container" data-slider-target="slideElement">
    <span <%# onclick="slideRight()" %> class="btn" data-action="click->slider#right" id="left"></span>
    <div id="slider">
      <div class="slide">

      </div>
      <div class="slide">
        <div><p class="review">"Very easy to use, thanks to the tool the
        whole event organisation became very
        time efficient"</p></div>

        <div class="felx">
            <div class="avatar-container">
              <img src="avatar_image_url.jpg" alt="Avatar Image">
            </div>
          <div class="star-container">
            <span class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="slide">
      <div><p class="review">"Very easy to use, thanks to the tool the
        whole event organisation became very
        time efficient"</p></div>
      </div>
      <div class="slide">
      <div><p class="review">"Very easy to use, thanks to the tool the
        whole event organisation became very
        time efficient"</p></div>
      </div>
      <div class="slide">
      <div><p class="review">"Very easy to use, thanks to the tool the
        whole event organisation became very
        time efficient"</p></div>
      </div>
      <div class="slide">
      <div><p class="review">"Very easy to use, thanks to the tool the
        whole event organisation became very
        time efficient"</p></div>
      </div>
      <div class="slide">
      <div><p class="review">"Very easy to use, thanks to the tool the
        whole event organisation became very
        time efficient"</p></div>
      </div>
      <div class="slide">
      <div><p class="review">"Very easy to use, thanks to the tool the
        whole event organisation became very
        time efficient"</p></div>
      </div>
      <div class="slide">
      <div><p class="review">"Very easy to use, thanks to the tool the
        whole event organisation became very
        time efficient"</p></div>
      </div>
      <span <%# onclick="slideLeft()" %> class="btn" data-action="click->slider#left" id="right"></span>
    </div>
  </div>
</div>
</div>
