.btn-dark {
  height: 55px !important;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  background: transparent !important;
  --bs-btn-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.28) !important;
  font-size: 16px;
  letter-spacing: 1.5px;
  border-radius: 0.5rem;
  transition: border 0.15s ease-in-out,;
}

.btn-dark:hover {
  border: 1px solid rgba(255, 255, 255, 0.674) !important;
  background: #80808029 !important;
}

.loginbutton {
  margin: 0 1%;
}

.solidbg{
  background: #020024 !important;
}
