.footer-bottom {
  margin-top: auto;
  display:flex;
}

.footer-lewagon .footer-brand img {
  width: 110px;
}

.footer-lewagon {
  justify-content: space-between;
  background: rgb(145, 187, 28);
}

.github-list {
  list-style-type: none;
}
