.logo-img {
  width: 150px !important; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.eventimg {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.showimage {
  width: 35% !important;
  border-radius:12px
}
