.info-card{
  background-color: transparent !important;
  font-family: "Rajdhani", sans-serif;
  color: white;
}

.info-card p{
  justify-content: center;
  font-size: 15px;
  font-size: 20px;
  padding: 30px;
  padding-left: 67px;
  padding-right: 67px;
  margin-bottom: 30px;
}

.info-card img{
  height: fit-content;
  width: fit-content;
}

.row{
  padding: 40px;
}


.info-card-header{
  color: #ffff;
  font-weight: 500;
  font-size: 2.5vw;
  margin-block-start: 20px;
  padding-left: 60px;
}


.info-card-highlight{
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #850194 50%);
}
