// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/banner";
@import "components/infocard";
@import "components/slider";
@import "components/dropdown";
@import "components/background";
@import "components/title";
@import "components/events";
@import "components/image";
@import "components/button";
@import "components/banner";
@import "components/card";
@import "components/container";
@import "components/loginbox";
@import "components/navbar";
@import "components/singupbox";
@import "components/newevent";
@import "components/testimonials";

.text-white {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 3px;
  line-height: 1;
  font-size: 15px;
  padding: 0% 61%;
}

.text-white:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.674);
  color: rgb(137, 220, 255) !important;
}

.custom-editform {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 3px;
  line-height: 1;
  font-size: 15px;
}

.custom-table {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 3px;
  line-height: 1;
  font-size: 15px;
}

.zoom-on-hover:hover .img-fluid {
  transform: scale(1.4);
  transition: transform 0.3s;
}


.eventbrite-icon {
  transition: transform 0.5s;
}

.eventbrite-icon:hover {

}

.plus-icon:hover {
  transform: scale(1.2); /* Zoom out effect on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}

.edit-icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.delete-icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.star-animation {
  position: relative;
  width: 50px;
  height: 50px;
}

.star-animation:before,
.star-animation:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #ffd700; /* Color of the stars */
  border-radius: 50%;
  animation: star-shooting 1s linear infinite alternate;
}

.star-animation:before {
  transform: rotate(45deg) translateX(-50%);
}

.star-animation:after {
  transform: rotate(45deg) translateX(50%);
}

@keyframes star-shooting {
  0% {
    transform: rotate(45deg) translateX(-50%);
  }
  100% {
    transform: rotate(45deg) translateX(50%);
  }
}

.state{
  text-align: center !important;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 68px;
  font-family: "Rajdhani", sans-serif;
  /* font-family: Figtree-Medium; */
  font-weight: 500;
  background: transparent!important;
}

.no-button-margin{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
