// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/banner";
@import "components/infocard";
@import "components/slider";

.logo-img {
  width: 150px !important; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7%;
  background: transparent;
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 1rem;
  box-shadow: 0 8px 32px 0 rgba(78, 79, 82, 0.37);
  transition: border 0.15s ease-in-out,;
}

.card-body-events {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 1rem;
  box-shadow: 0 8px 32px 0 rgba(78, 79, 82, 0.37);
  transition: border 0.15s ease-in-out,;
  max-width: 420px;
  max-height: 500px
}

.cardimage {
  width: 190px;
  height: 140px;
  margin-right: 7%;
  padding: 5% 7%;
}

.btn-dark {
  height: 55px !important;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  background: rgba(26, 26, 26, 0.09) !important;
  --bs-btn-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.28);
  font-size: 16px;
  letter-spacing: 1.5px;
  border-radius: 0.5rem;
  transition: border 0.15s ease-in-out,;
}

.btn-dark:hover {
  border: 1px solid rgba(255, 255, 255, 0.674);
}

.card-body:hover  {
  border: 1px solid rgba(255, 255, 255, 0.674);
  box-shadow: 0 8px 32px 0 rgba(94, 95, 97, 0.37);
}

.text-white {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 3px;
  line-height: 1;
  font-size: 15px;
  padding: 0% 61%;
}

.text-white:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.674);
  color: rgb(137, 220, 255) !important;
}

.loginbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonscontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loginbutton {
  margin: 0 1%;
}

.bannerdisplay {
  background-image: url('/assets/example-fd9defea68f793c3dd4cc8e57f228ae0194f37d00f4f6342503af2324fce75c8.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.homepagebackground {
  margin-top: -56px;
  background: linear-gradient(-45deg, #82a2ec, #14213f, #04061e, #00020a);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  flex-direction: column;
}

.homepagebackgroundstatic {
  background: rgb(2,0,36);
  background: linear-gradient(330deg, rgba(2,0,36,1) 0%, rgba(134,157,193,1) 0%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 55%);
  margin-top: -56px;
  flex-direction: column;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.sparkletitle {
  margin: 5% 0%;
}

.enventsintrocontainer {
  margin-top: 2%;
}

.eventimg {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.eventsinfo {
  width: 100%;
  padding: 2%;
}

.eventsinfo h3 {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.eventsinfo h4 {
  font-family: "Rajdhani", sans-serif;
  color: #cecece;
  font-size: 16px;
}

.sparkletitle p, .enventsintrocontainer p, .searchfilter {
  font-family: "Rajdhani", sans-serif;
  line-height: 1;
  color: #ffffff;
  font-size: 57px;
  letter-spacing: 9px;
}

.state{
  text-align: center !important;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 68px;
  font-family: Figtree-Medium;
  font-weight: 500;
  background: #101b38 !important;
}

.no-button-margin{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.enventsintrocontainer p {
  margin: 13% 0% 0% 0%;
}

.enventssmtext {
  font-size: 14px !important;
  margin-bottom: 12px !important;
  margin-top: 0px !important;
  letter-spacing: 4px !important;
  color: #3ca0e7 !important;
}

.eventstitle {
  padding: 1.8%;
  background: #0304138f;
  box-shadow: none;
  justify-content: center;
}

nav {
  &.primary-navigation {
    margin: 0 auto;
    display: block;

    padding: 120px 0 0 0;
    text-align: center;
    font-size: 16px;

    ul li {
      list-style: none;
      margin: 0 auto;
      border-left: 2px solid #3ca0e7;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
    }

    li a {
      color: rgb(255, 255, 255);
      font-family: "Rajdhani", sans-serif;
    }

    li a:hover {
      color: #3ca0e7;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      padding-left: 0;
      left: 0;
      display: none;
      background: rgba(141, 138, 138, 0.232);
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}

a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }

}

 ul li ul li a { transition: all 0.5s ease; }
